<h2>My Heroes</h2>

<ul class="heroes">
  <div class="mb-1" *ngFor="let hero of heroes">
    <button class="btn btn-light" type="button" (click)="onSelect(hero)">
      <div class="d-flex">
        <div class="me-1 text-white bg-secondary">
          <span>{{hero.id}}</span>
        </div>
        <span>{{hero.name}}</span>
      </div>
    </button>
  </div>
</ul>

<div *ngIf="selectedHero">
  <div class="mb-1"> {{selectedHero.name}} is my hero</div>

  <a class="btn btn-primary" type="button" routerLink="/detail/{{selectedHero.id}}">
    <span>View Details</span>
  </a>
</div>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
